h1{
    color: #515050;
    font-family: 'OpenSansBold';
    font-size: 62px;
}
h2{
    color: #515050;
    font-family: 'OpenSansBold';
    font-size: 52px;
}
h3{
    color: #515050;
    font-family: 'OpenSansBold';
    font-size: 40px;
}
h4{
    color: #515050;
    font-family: 'OpenSansBold';
    font-size: 29px;
}
h5{
    color: #515050;
    font-family: 'OpenSansBold';
    font-size: 24px;
}
h6{
    color: #515050;
    font-family: 'OpenSansRegular';
    font-size: 24px;
}